{% extends 'core/base/base.html' %}


{% block title %}Due Collection{% endblock %}


{% block site_css %}{% endblock %}


{% block body %}
    {% load crispy_forms_tags %}

    <section  class="py-4 px-0">
		<div class="row p-2">
			<div class="col-sm-11 p-3 border mx-auto bg-light">
				<div class="text-center pb-2 border-bottom">
					<h3 class="m-0">Due Collection</h3>
				</div>

                {% if messages %}
                    {% for message in messages %}
						{% if message.tags == "success" %}
							<div class="alert alert-success p-2 mx-3 mt-3 mb-1"><b>{{ message }}</b></div>
						{% else %}
							<div class="alert alert-danger p-2 mx-3 mt-3 mb-1"><b>{{ message }}</b></div>
						{% endif %}
                    {% endfor %}
                {% endif %}

                <div class="row p-2">
                    <form id="sale_form" method="POST" action="javascript:void(0);" enctype="multipart/form-data" class="col-sm-3 pt-1 px-1 border-end">
                        
                        <div class="">
                            <div class="col-sm-12 pe-3" style="margin-bottom: 0px;">
                                {{ saleform.customer|as_crispy_field }}
                            </div>
                            <div class="col-sm-12 pe-3" style="margin-bottom: 0px;">
                                <div id="div_id_user" class="mb-3">
                                    <label for="id_user" class="form-label">Salesperson</label>
                                    <input type="text" name="user" value="{{sale.user}}" class="form-control form-control-sm" disabled="true" id="id_user">
                                </div>
                            </div>
                            <div class="col-sm-12 pe-3" style="margin-bottom: 0px;">
                                <div id="div_id_date" class="mb-3">
                                    <label for="id_date" class="form-label">Date</label>
                                    <input type="text" name="date" value="{{sale.date}}" class="form-control form-control-sm" disabled="true" id="id_date">
                                </div>
                            </div>
                            <div class="col-sm-12 pe-3" style="margin-bottom: 0px;">
                                {{ saleform.saleStripeId|as_crispy_field }}
                            </div>
                            <div class="col-sm-12  pe-3" style="margin-bottom: 0px;">
                                {{ saleform.note|as_crispy_field }}
                            </div>
                            <div class="col-sm-12  pe-3" style="margin-bottom: 0px;">
                                {{ saleform.totalPrice|as_crispy_field }}
                            </div>
                            <div class="col-sm-12  pe-3" style="margin-bottom: 0px;">
                                {{ saleform.discountAmount|as_crispy_field }}
                            </div>
                            <div class="col-sm-12  pe-3" style="margin-bottom: 0px;">
                                {{ saleform.payable|as_crispy_field }}
                            </div>
                            <div class="col-sm-12  pe-3" style="margin-bottom: 0px;">
                                {{ saleform.paidAmount|as_crispy_field }}
                            </div>
                            <div class="col-sm-12  pe-3" style="margin-bottom: 0px;">
                                {{ saleform.due|as_crispy_field }}
                            </div>
                            <div class="col-sm-12  pe-3" style="margin-bottom: 0px;">
                                {{ saleform.changeAmount|as_crispy_field }}
                            </div>
                        </div>
                    </form>

                    <div class="col-sm-9 pt-1 px-1 m-0">
                        <div class="text-center mx-1 mt-2 mb-2 px-1 align-middle">
                            <table class="table table-sm table-bordered border-dark text-center mt-3 mx-1 align-middle" style="font-size: 14px;">
                                <thead class="table-light border-dark">
                                    <tr >
                                        <th scope="col" colspan="8" class="bg-warning">Sale Products</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" class="d-none">saleDetailId</th>
                                        <th scope="col" class="d-none">ProductId</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">UnitPrice</th>
                                        <th scope="col">Discount</th>
                                        <th scope="col">TotalPrice</th>
                                        <th scope="col">Refunded</th>
                                        {% comment %} <th scope="col" class="text-center">Action</th> {% endcomment %}
                                    </tr>
                                </thead>
                                <tbody id="ProductTable">
                                    {% for saledetail in saledetails %}
                                        <tr>
                                            <th class="serial">{{forloop.counter}}</th>
                                            <td class="id d-none">{{saledetail.id}}</td>
                                            <td class="id_product d-none">{{saledetail.product_id}}</td>
                                            <td class="product">{{saledetail.product}}</td>
                                            <td class="quantity">{{saledetail.quantity}}</td>
                                            <td class="unitPrice">{{saledetail.unitPrice}}</td>
                                            <td class="discount"><span>{{saledetail.discount}}</span>%</td>
                                            <td class="totalPrice">{{saledetail.totalPrice}}</td>
                                            <td class="refunded">{{saledetail.refunded}}</td>
                                            {% comment %} <td class="action">
                                                <button class="btn btn-warning btn-sm fw-bold" onclick="refund(this);">
                                                    Refund  
                                                </button>
                                            </td> {% endcomment %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <form id="table_form" class="row g-4 mx-2 my-0 p-2 pt-3 alert alert-warning fw-bold" action="" method="POST">
                            {% csrf_token %}
                            <div class="col-sm-4 mt-0" style="">
                                {{ duecollectionform.amount|as_crispy_field }}
                            </div>
                            <div class="col-sm-6 mt-0" >
                                {{ duecollectionform.note|as_crispy_field }}
                            </div> 
                            <div class="col-sm-2 py-2 mt-4">
                                <button class="btn btn-sm btn-warning fw-bold" type="button" onclick="CollectDue();" id="duecollectionbtn">Collect</button>
                            </div>
                        </form>
                        
                        <div class="text-center mx-1 my-2 py-0 alert align-middle">
                            <div class="text-center pb-2 border-bottom">
                                <h4 class="m-0">Due Collection History</h3>
                            </div>
                            <table class="table table-sm table-bordered my-3" style="font-size: 14px;">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" class="d-none">Id</th>
                                        <th scope="col">User</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Note</th>
                                    </tr>
                                </thead>
                                <tbody id="RefundTable">
                                    {% for duecollection in duecollections %}
                                        <tr>
                                            <th class="serial">{{forloop.counter}}</th>
                                            <td class="id d-none">{{duecollection.id}}</td>
                                            <td class="user">{{duecollection.user}}</td>
                                            <td class="amount">{{duecollection.amount}}</td>
                                            <td class="date">{{duecollection.date}}</td>
                                            <td class="note">{{duecollection.note}}</td>
                                        </tr>
                                    {% endfor %}
                                    
                                    <tr>
                                        <th class="total" colspan="2">Total</th>
                                        <th class="dueCollected">{{due.collectedAmount}}</td>
                                        <th class="date"></td>
                                        <th class="note"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="text-center mx-1 mt-2 mb-0 py-0 alert align-middle">
                            <div class="text-center pb-2 border-bottom">
                                <h4 class="m-0">Refund History</h3>
                            </div>
                            <table class="table table-sm table-bordered my-3" style="font-size: 14px;">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" class="d-none">ProductId</th>
                                        <th scope="col">User</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">UnitPrice</th>
                                        <th scope="col">TotalRefund</th>
                                        <th scope="col">DueRefund</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Note</th>
                                    </tr>
                                </thead>
                                <tbody id="RefundTable">
                                    {% for salerefund in salerefunds %}
                                        <tr>
                                            <th class="serial">{{forloop.counter}}</th>
                                            <td class="id d-none">{{salerefund.id}}</td>
                                            <td class="id_product d-none">{{salerefund.saleDetail.id_product}}</td>
                                            <td class="user">{{salerefund.user}}</td>
                                            <td class="product">{{salerefund.saleDetail.product}}</td>
                                            <td class="quantity">{{salerefund.quantity}}</td>
                                            <td class="unitPrice">{{salerefund.unitPrice}}</td>
                                            <td class="totalRefund">{{salerefund.totalRefund}}</td>
                                            <td class="dueRefund">{{salerefund.dueRefund}}</td>
                                            <td class="date">{{salerefund.date}}</td>
                                            <td class="note">{{salerefund.note}}</td>
                                        </tr>
                                    {% endfor %}
                                    
                                    <tr>
                                        <th class="total" colspan="5">Total</th>
                                        <th class="totalRefund">{{totalRefund}}</td>
                                        <th class="dueRefund">{{totalDueRefund}}</td>
                                        <th class="date"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-12 text-center pt-4">
                        {% comment %} <input class="btn btn-success" type="submit" id="savesale" value="Save Sale" /> {% endcomment %}
                        <a class="btn btn-primary ms-2" href="{% url 'duelist' %}"><i class="bi bi-arrow-return-left"></i> Back To List</a>
                    </div>
                    {% comment %} </form> {% endcomment %}
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block site_js %}
<script>
    $(document).ready(function(){
        /* $('#id_totalPrice').trigger("change");
        $('#id_payable').trigger("change");
        $('#id_customer').trigger("change");*/
        $('#id_totalPrice').trigger("change");
    });

    $("#id_totalPrice, #id_discount").change(function(){
        var id_totalPrice = Number($("#id_totalPrice").val());
        var id_discount = Number($("#id_discount").val());
        console.log(id_totalPrice);
        console.log(id_discount);
        console.log(id_totalPrice-id_discount);
        $("#id_payable").val((id_totalPrice-id_discount).toFixed(2)).trigger("change");
    });


    $("#id_payable, #id_paid").change(function(){
        var id_payable = Number($("#id_payable").val());
        var id_paid = Number($("#id_paid").val());
        if(id_payable < id_paid){
            $("#id_due").val(0).trigger("change");
            $("#id_change").val((id_paid-id_payable).toFixed(2)).trigger("change");
        }
        else {
            $("#id_due").val((id_payable-id_paid).toFixed(2)).trigger("change");
            $("#id_change").val(0).trigger("change");
        }
    });

    function CollectDue() {   
        $("#duecollectionbtn").prop('disabled', true);
        if($("#table_form").get(0).checkValidity()) {

            if($("#id_amount").val() == 0){
                alert("Collected amount can't be zero!!");
                $("#duecollectionbtn").prop('disabled', false);
                return;
            }
            
            $("#table_form").submit();
        } 
        else{
            $("#duecollectionbtn").prop('disabled', false);
            $("#table_form").get(0).reportValidity();
        }

    }

</script>
{% endblock %}