{% extends 'core/base/base.html' %}


{% block title %}Edit Purchase{% endblock %}


{% block site_css %}{% endblock %}


{% block body %}
    {% load crispy_forms_tags %}

    <section  class="py-5 px-5">
		<div class="row p-2">
			<div class="col-sm-11 p-3 border mx-auto bg-light">
				<div class="text-center pb-2 border-bottom">
					<h3 class="m-0">Edit Purchase</h3>
				</div>

                {% if messages %}
                    {% for message in messages %}
						{% if message.tags == "success" %}
							<div class="alert alert-success p-2 mx-3 mt-3 mb-1"><b>{{ message }}</b></div>
						{% else %}
							<div class="alert alert-danger p-2 mx-3 mt-3 mb-1"><b>{{ message }}</b></div>
						{% endif %}
                    {% endfor %}
                {% endif %}

                <div class="row p-2">
                    <form id="purchase_form" method="POST" action="javascript:void(0);" enctype="multipart/form-data" class="col-sm-3 pt-1 px-1 border-end">
                        {% csrf_token %}
                        <div class="">
                            <div class="col-sm-12 pe-3">
                                {{ purchaseform.company|as_crispy_field }}
                            </div>
                            <div class="col-sm-12  pe-3">
                                {{ purchaseform.supplier|as_crispy_field }}
                            </div>
                            <div class="col-sm-12  pe-3">
                                {{ purchaseform.invoice|as_crispy_field }}
                            </div>
                            <div class="col-sm-12  pe-3">
                                {{ purchaseform.note|as_crispy_field }}
                            </div>
                            <div class="col-sm-12  pe-3">
                                {{ purchaseform.totalPrice|as_crispy_field }}
                            </div>
                        </div>
                    </form>

                        {% comment %} <hr/> {% endcomment %}

                        <div class="col-sm-9 pt-1 px-1 m-0">
                            <form id="table_form" class="row g-4 mx-0" action="javascript:void(0);" onsubmit="addData();">
                                <div class="col-sm-6 ">
                                    {{ purchasedetailform.product|as_crispy_field }}
                                </div>
                                <div class="col-sm-6">
                                    <div id="div_id_quantity" class="mb-3">
                                        <label for="id_quantity" class="form-label requiredField">Quantity<span class="asteriskField">*</span></label>
                                        <div class="input-group input-group-sm">
                                            <input type="number" name="quantity" class="form-control form-control-sm" min="0" required="" id="id_quantity">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                    {% comment %} {{ purchasedetailform.quantity|as_crispy_field }} {% endcomment %}
                                </div>
                                <div class="col-sm-4 mt-0">
                                    {{ purchasedetailform.tradePrice|as_crispy_field }}
                                </div>
                                <div class="col-sm-4 mt-0">
                                    {{ purchasedetailform.salePrice|as_crispy_field }}
                                </div>
                                <div class="col-sm-4 mt-0">
                                    {{ purchasedetailform.mrp|as_crispy_field }}
                                </div>
                                <div class="col-sm-4 mt-0">
                                    {{ purchasedetailform.totalPrice|as_crispy_field }}
                                </div>
                                <div class="col-sm-4 mt-0">
                                    {{ purchasedetailform.manufacturingDate|as_crispy_field }}
                                </div>
                                <div class="col-sm-4 mt-0">
                                    {{ purchasedetailform.expirationDate|as_crispy_field }}
                                </div>
                                <div class="col-sm-4 ms-auto mt-0">
                                    <input class="btn btn-primary btn-sm mb-3" type="submit" value="Add Product">
                                </div>
                            </form>

                            <table class="table table-sm table-bordered table-hover text-center mt-3 mx-1 align-middle" style="font-size: 14px;">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">TradePrice</th>
                                        <th scope="col">SalePrice</th>
                                        <th scope="col">MRP</th>
                                        <th scope="col">TotalPrice</th>
                                        <th scope="col">MFG. Date</th>
                                        <th scope="col">Exp. Date</th>
                                        <th scope="col" class="text-center">Action</th>
                                      </tr>
                                </thead>
                                <tbody id="ProductTable">
                                    <tr>
                                    </tr>
                                    {% comment %} <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{data.name}}</td>
                                        <td>{{data.address}}</td>
                                        <td>{{data.contact}}</td>
                                        <td class="text-center">
                                            <a class="btn btn-sm btn-info" href="{% url 'editcompany' data.id %}">Edit</a>
                                            <form method="POST" class="d-inline" onsubmit="return confirm('Are you sure you want to delete the record?');" action="{% url 'deletecompany' %}">
                                                {%csrf_token%}
                                                <input type="decimal" value="{{data.id}}" name="id" style="display:none;"/>
                                                <button class="btn btn-sm btn-danger" type="submit" >Delete</button>
                                            </form>
                                        </td>	 
                                    </tr> {% endcomment %}
                                    {% for purchasedetail in purchasedetails %}
                                        <tr>
                                            <th class="serial">{{forloop.counter}}</th>
                                            <td class="id_product d-none">{{purchasedetail.product_id}}</td>
                                            <td class="product">{{purchasedetail.product}}</td>
                                            <td class="quantity">{{purchasedetail.quantity}}</td>
                                            <td class="tradePrice">{{purchasedetail.tradePrice}}</td>
                                            <td class="salePrice">{{purchasedetail.stock.salePrice}}</td>
                                            <td class="mrp">{{purchasedetail.stock.mrp}}</td>
                                            <td class="totalPrice">{{purchasedetail.totalPrice}}</td>
                                            <td class="manufacturingDate">{{purchasedetail.stock.manufacturingDate}}</td>
                                            <td class="expirationDate">{{purchasedetail.stock.expirationDate}}</td>
                                            <td class="action">
                                                <button class="btn btn-danger btn-sm" onclick="deleteRow(this);">Delete</button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>

                        <div class="col-md-12 text-center pt-3">
                            <input class="btn btn-success" type="submit" id="savepurchase" value="Save Purchase" />
                            <a class="btn btn-primary ms-2" href="{% url 'purchaselist' %}"><i class="bi bi-arrow-return-left"></i> Back To List</a>
                        </div>
                    {% comment %} </form> {% endcomment %}
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block site_js %}
<script>
    $(document).ready(function(){
        $("#id_company").val({{purchase.company_id}}).change();
    });

    $("#id_company").change(function(){
        $("#id_product").empty();

        $.ajax({
            url : "/product/get/", // the endpoint
            type : "GET", // http method
            data: { 
                'companyid': $('#id_company').val() ,
                'categoryid': "",
            },
            // handle a successful response
            success : function(data) {
                console.log(data); // log the returned json to the console

                $.each(data.productlist, function (index, item) {
                    $('#id_product').append($('<option>', { 
                        value: item.id,
                        text : item.title 
                    }));
                });
                
                $("#id_product").change();

            },
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(err); // provide a bit more info about the error to the console
                console.log(errmsg); // provide a bit more info about the error to the console
            }
        });
    });

    $("#id_product").change(function(){
        $.ajax({
            url : "/product/getinfo/", // the endpoint
            type : "GET", // http method
            data: { 
                'productid': $('#id_product').val(),
            },
            // handle a successful response
            success : function(data) {
                console.log(data); // log the returned json to the console

                $("#id_quantity").parent().find("span").text(data.productinfo.unit);
               
            },
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(err); // provide a bit more info about the error to the console
                console.log(errmsg); // provide a bit more info about the error to the console
            }
        });
    });

    $("#id_tradePrice, #id_quantity").change(function(){
        $("#id_totalPrice").val($("#id_tradePrice").val()*$("#id_quantity").val());
        $("#id_mrp").attr({
            "min" : $("#id_tradePrice").val()  // values (or variables) here
         });
         $("#id_salePrice").attr({
            "min" : $("#id_tradePrice").val()  // values (or variables) here
         });
    });


    function alreadyinqueue(){
        var ret = false;
        $("#ProductTable > tr").each(function(index, tr) { 
            //console.log(index);
            //console.log(tr);
            if($(tr).find('.id_product').text() == $('#id_product').val()) {
                alert("Product already added to the queue!!");
                ret = true;
                return false;
            }
        });

        return ret;
    }

    function addData(){

        //console.log("here");
        if(alreadyinqueue()){
            return;
        }

        //console.log("here");
        var serialno = Math.max(1, Number($("#ProductTable tr:last").find(".serial").text()) + 1);
        $("#ProductTable tr:last").after('<tr><td class="serial">'+serialno
                                        +'</td><td class="id_product d-none">'+$('#id_product').val()
                                        +'</td><td class="product">'+$('#id_product option:selected').text()
                                        +'</td><td class="quantity">'+$('#id_quantity').val()
                                        +'</td><td class="tradePrice">'+$('#id_tradePrice').val()
                                        +'</td><td class="salePrice">'+$('#id_salePrice').val()
                                        +'</td><td class="mrp">'+$('#id_mrp').val()
                                        +'</td><td class="totalPrice">'+$('#id_totalPrice').val()
                                        +'</td><td class="manufacturingDate">'+$('#id_manufacturingDate').val()
                                        +'</td><td class="expirationDate">'+$('#id_expirationDate').val()
                                        +'</td><td class="action"> <button class="btn btn-danger btn-sm" onclick="deleteRow(this);">Delete</button>'
                                        +'</td></tr>');

        $("#totalPurchasePrice").val(Number($("#totalPurchasePrice").val())+Number($('#id_totalPrice').val()));

    }

    function deleteRow(row){
        $("#totalPurchasePrice").val(Number($("#totalPurchasePrice").val())-Number($(row).parent().parent().find(".totalPrice").text()));

        $(row).parent().parent().remove();

        $("#ProductTable > tr").each(function(index, tr) { 
            //console.log(index);
            //console.log(tr);
            $(tr).find(".serial").text(index);
         });
    }


    $("#savepurchase").on('click', function() {   
        if($("#purchase_form").get(0).checkValidity()) {

            var rows = [];
            $("#ProductTable > tr").each(function(index, tr) { 
                //console.log(index);
                //console.log(tr);
                if(index > 0) {
                    rows.push(JSON.stringify({
                        'product': $(tr).find('.id_product').text(),
                        'tradePrice': $(tr).find('.tradePrice').text(),
                        'quantity': $(tr).find('.quantity').text(),
                        'totalPrice': $(tr).find('.totalPrice').text(),
                        'salePrice': $(tr).find('.salePrice').text(),
                        'mrp': $(tr).find('.mrp').text(),
                        'manufacturingDate': $(tr).find('.manufacturingDate').text(),
                        'expirationDate': $(tr).find('.expirationDate').text(),
                    }))
                }

             });


            var formdata = {
                'company': $('#id_company').val(),
                'supplier': $('#id_supplier').val(),
                'invoice': $('#id_invoice').val(),
                'note': $('#id_note').val(),
                'totalPurchasePrice': $('#totalPurchasePrice').val(),
                'purchaseProducts': rows,
            };

            $("#purchase_form").submit()

            console.log(formdata);

            $.ajax({
                url : "", // the endpoint
                type : "POST", // http method
                data: { 
                    'company': $('#id_company').val(),
                    'supplier': $('#id_supplier').val(),
                    'invoice': $('#id_invoice').val(),
                    'note': $('#id_note').val(),
                    'totalPurchasePrice': $('#totalPurchasePrice').val(),
                    'purchaseProducts': rows,
                    'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val() },
                dataType: 'json',
                // handle a successful response
                success : function(json) {
                    console.log(json); // log the returned json to the console
                    alert("Purchase Edited Successfully!!");
                },
        
                // handle a non-successful response
                error : function(xhr,errmsg,err,res) {
                    console.log(res); // provide a bit more info about the error to the console
                }
            });
        } 
        $("#purchase_form").get(0).reportValidity(); // Submit the form
    });


</script>
{% endblock %}