{% extends 'core/base/base.html' %}


{% block title %}New Sale{% endblock %}


{% block site_css %}{% endblock %}


{% block body %}
    {% load crispy_forms_tags %}

    <section  class="py-5 px-5">
		<div class="row p-2">
			<div class="col-sm-11 p-3 border mx-auto bg-light">
				<div class="text-center pb-2 border-bottom">
					<h3 class="m-0">New Sale</h3>
				</div>

                {% if messages %}
                    {% for message in messages %}
						{% if message.tags == "success" %}
							<div class="alert alert-success p-2 mx-3 mt-3 mb-1"><b>{{ message }}</b></div>
						{% else %}
							<div class="alert alert-danger p-2 mx-3 mt-3 mb-1"><b>{{ message }}</b></div>
						{% endif %}
                    {% endfor %}
                {% endif %}

                <div class="row p-2">
                    <form id="sale_form" method="POST" action="javascript:void(0);" enctype="multipart/form-data" class="col-sm-3 pt-1 px-1 border-end">
                        {% csrf_token %}
                        <div class="">
                            <div class="col-sm-12 pe-3" style="margin-bottom: -9px;">
                                {{ saleform.customer|as_crispy_field }}
                            </div>
                            <div class="col-sm-12  pe-3" style="margin-bottom: -9px;">
                                {{ saleform.saleStripeId|as_crispy_field }}
                            </div>
                            <div class="col-sm-12  pe-3" style="margin-bottom: -9px;">
                                {{ saleform.note|as_crispy_field }}
                            </div>
                            <div class="col-sm-12  pe-3" style="margin-bottom: -9px;">
                                {{ saleform.totalPrice|as_crispy_field }}
                            </div>
                            <div class="col-sm-12  pe-3" style="margin-bottom: -9px;">
                                {{ saleform.discountAmount|as_crispy_field }}
                            </div>
                            <div class="col-sm-12  pe-3" style="margin-bottom: -9px;">
                                {{ saleform.payable|as_crispy_field }}
                            </div>
                            <div class="col-sm-12  pe-3" style="margin-bottom: -9px;">
                                {{ saleform.paidAmount|as_crispy_field }}
                            </div>
                            <div class="col-sm-12  pe-3" style="margin-bottom: -9px;">
                                {{ saleform.due|as_crispy_field }}
                            </div>
                            <div class="col-sm-12  pe-3" style="margin-bottom: -9px;">
                                {{ saleform.changeAmount|as_crispy_field }}
                            </div>
                        </div>
                    </form>

                    {% comment %} <hr/> {% endcomment %}

                    <div class="col-sm-9 pt-1 px-1 m-0">
                        <form id="table_form" class="row g-4 mx-0" action="javascript:void(0);" onsubmit="addData();">
                            <div class="col-sm-6 ">
                                {{ saledetailform.company|as_crispy_field }}
                            </div>
                            <div class="col-sm-6">
                                {{ saledetailform.category|as_crispy_field }}
                            </div>
                            <div class="col-sm-4 mt-0">
                                {{ saledetailform.product|as_crispy_field }}
                            </div>
                            <div class="col-sm-4 mt-0">
                                {% comment %} <div class="input-group">
                                    {{ saledetailform.quantity|as_crispy_field }}
                                    <span class="input-group-text">.00</span>
                                </div> {% endcomment %}
                                <div id="div_id_quantity" class="mb-3">
                                    <label for="id_quantity" class="form-label requiredField">Quantity<span class="asteriskField">*</span></label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" name="quantity" class="form-control form-control-sm" min="0" required="" id="id_quantity" max="0">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-4 mt-0">
                                {{ saledetailform.inStock|as_crispy_field }}
                            </div>
                            <div class="col-sm-4 mt-0">
                                {{ saledetailform.unitPrice|as_crispy_field }}
                            </div>
                            <div class="col-sm-4 mt-0">
                                {{ saledetailform.discount|as_crispy_field }}
                            </div>
                            <div class="col-sm-4 mt-0">
                                {{ saledetailform.totalPrice|as_crispy_field }}
                            </div>
                            <div class="col-sm-4 ms-auto mt-0">
                                <input class="btn btn-primary btn-sm" type="submit" value="Add Product">
                            </div>
                        </form>

                        <table class="table table-sm table-bordered table-hover text-center mt-3 mx-1 align-middle" style="font-size: 14px;">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" class="d-none">ProductId</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">UnitPrice</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">TotalPrice</th>
                                    <th scope="col" class="text-center">Action</th>
                                    </tr>
                            </thead>
                            <tbody id="ProductTable">
                                {% comment %} <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{data.name}}</td>
                                    <td>{{data.address}}</td>
                                    <td>{{data.contact}}</td>
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-info" href="{% url 'editcompany' data.id %}">Edit</a>
                                        <form method="POST" class="d-inline" onsubmit="return confirm('Are you sure you want to delete the record?');" action="{% url 'deletecompany' %}">
                                            {%csrf_token%}
                                            <input type="decimal" value="{{data.id}}" name="id" style="display:none;"/>
                                            <button class="btn btn-sm btn-danger" type="submit" >Delete</button>
                                        </form>
                                    </td>	 
                                </tr> {% endcomment %}
                                <tr>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="col-md-12 text-center pt-3">
                        <input class="btn btn-success" type="submit" id="savesale" value="Save Sale" />
                        <a class="btn btn-primary ms-2" href="{% url 'salelist' %}"><i class="bi bi-arrow-return-left"></i> Back To List</a>
                    </div>
                    {% comment %} </form> {% endcomment %}
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block site_js %}
<script>
    $(document).ready(function(){
        $("#id_company").val(null).change();
    });

    $("#id_company, #id_category").change(function(){
        $("#id_product").empty();

        $.ajax({
            url : "/product/get/", // the endpoint
            type : "GET", // http method
            data: { 
                'companyid': $('#id_company').val(),
                'categoryid': $('#id_category').val() 
            },
            // handle a successful response
            success : function(data) {
                console.log(data); // log the returned json to the console

                $.each(data.productlist, function (index, item) {
                    $('#id_product').append($('<option>', { 
                        value: item.id,
                        text : item.title 
                    }));
                });
                
                if(data.productlist.length){
                    $('#id_product').trigger("change");
                }
            },
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(err); // provide a bit more info about the error to the console
                console.log(errmsg); // provide a bit more info about the error to the console
            }
        });
    });

    $("#id_product").change(function(){
        $.ajax({
            url : "/product/getinfo/", // the endpoint
            type : "GET", // http method
            data: { 
                'productid': $('#id_product').val(),
            },
            // handle a successful response
            success : function(data) {
                console.log(data); // log the returned json to the console

                $("#id_quantity").parent().find("span").text(data.productinfo.unit);
                $("#id_inStock").val(data.productinfo.inStock);
                $("#id_quantity").attr({
                    "max" : $("#id_inStock").val()  // values (or variables) here
                });
                $("#id_unitPrice").val(data.productinfo.unitPrice);
                $("#ProductDiscount").val(data.productinfo.discount);

                $("#id_unitPrice").trigger('change');
            },
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(err); // provide a bit more info about the error to the console
                console.log(errmsg); // provide a bit more info about the error to the console
            }
        });
    });


    $("#id_unitPrice, #id_quantity").change(function(){
        var total = $("#id_unitPrice").val() * $("#id_quantity").val();

        total = (total * (100 - $("#ProductDiscount").val())) / 100;

        $("#totalProductPrice").val(total.toFixed(2));

    });


    $("#id_totalPrice, #id_discount").change(function(){
        var id_totalPrice = Number($("#id_totalPrice").val());
        var id_discount = Number($("#id_discount").val());
        console.log(id_totalPrice);
        console.log(id_discount);
        console.log(id_totalPrice-id_discount);
        $("#id_payable").val((id_totalPrice-id_discount).toFixed(2)).trigger("change");
    });

    $("#id_payable, #id_paid").change(function(){
        var id_payable = Number($("#id_payable").val());
        var id_paid = Number($("#id_paid").val());
        if(id_payable < id_paid){
            $("#id_due").val(0).trigger("change");
            $("#id_change").val((id_paid-id_payable).toFixed(2)).trigger("change");
        }
        else {
            $("#id_due").val((id_payable-id_paid).toFixed(2)).trigger("change");
            $("#id_change").val(0).trigger("change");
        }
    });

    function alreadyinqueue(){
        var ret = false;
        $("#ProductTable > tr").each(function(index, tr) { 
            //console.log(index);
            //console.log(tr);
            if($(tr).find('.id_product').text() == $('#id_product').val()) {
                alert("Product already added to the queue!!");
                ret = true;
                return false;
            }

        });

        return ret;
    }

    function addData(){
        
        //console.log(Number($("#id_totalPrice").val()));
        //console.log(Number($("#totalProductPrice").val()));
        var totalProductPrice = Number($("#totalProductPrice").val());
        var id_totalPrice = Number($("#id_totalPrice").val());

        if($('#id_quantity').val()==0){
            alert("Quantity can't be zero!!");
            return;
        }

        if(alreadyinqueue()){
            return;
        }

        var serialno = Math.max(1, Number($("#ProductTable tr:last").find(".serial").text()) + 1);
        $("#ProductTable tr:last").after('<tr><td class="serial">'+serialno
                                        +'</td><td class="id_product d-none">'+$('#id_product').val()
                                        +'</td><td class="product">'+$('#id_product option:selected').text()
                                        +'</td><td class="quantity">'+$('#id_quantity').val()
                                        +'</td><td class="unitPrice">'+$('#id_unitPrice ').val()
                                        +'</td><td class="ProductDiscount"><span>'+$('#ProductDiscount').val() + "</span>%"
                                        +'</td><td class="totalPrice">'+$('#totalProductPrice').val()
                                        +'</td><td class="action"> <button class="btn btn-danger btn-sm" onclick="deleteRow(this);">Delete</button>'
                                        +'</td></tr>');

        $("#id_totalPrice").val((totalProductPrice+id_totalPrice).toFixed(2)).trigger("change");
    }



    function deleteRow(row){
        var id_totalPrice = Number($("#id_totalPrice").val());
        var totalProductPrice = Number($(row).parent().parent().find(".totalPrice").text());
        $("#id_totalPrice").val((id_totalPrice-totalProductPrice).toFixed(2)).trigger("change");

        $(row).parent().parent().remove();

        $("#ProductTable > tr").each(function(index, tr) { 
            //console.log(index);
            //console.log(tr);
            $(tr).find(".serial").text(index);
        });
    }


    $("#savesale").on('click', function() {   
        if($("#sale_form").get(0).checkValidity()) {
            //console.log(Number($("#id_due").val()));
            //console.log(Number($("#id_customer").val()));

            if(Number($("#id_due").val()) > 0 && $("#id_customer").val() == 0){
                alert("Customer field is required if the sale has due!!");
                return;
            }

            var rows = [];
            $("#ProductTable > tr").each(function(index, tr) { 
                //console.log(index);
                //console.log(tr);
                if(index > 0) {
                    rows.push(JSON.stringify({
                        'product': $(tr).find('.id_product').text(),
                        'quantity': $(tr).find('.quantity').text(),
                        'unitPrice': $(tr).find('.unitPrice').text(),
                        'ProductDiscount': $(tr).find('.ProductDiscount span').text(),
                        'totalPrice': $(tr).find('.totalPrice').text(),
                    }))
                }

            });

            if(rows.length == 0){
                alert("No Product added for sale!!");
                return;
            }

            var formdata = {
                'customer': $('#id_customer').val(),
                'saleStripeId': $('#id_saleStripeId').val(),
                'note': $('#id_note').val(),
                'totalPrice': $('#id_totalPrice').val(),
                'discount': $('#id_discount').val(),
                'paid': $('#id_paid').val(),
                'saleProducts': rows,
            }; 

            //$("#sale_form").submit()

            console.log(formdata);

            $.ajax({
                url : "", // the endpoint
                type : "POST", // http method
                data: { 
                    'customer': $('#id_customer').val(),
                    'saleStripeId': $('#id_saleStripeId').val(),
                    'note': $('#id_note').val(),
                    'totalPrice': $('#id_totalPrice').val(),
                    'discount': $('#id_discount').val(),
                    'paid': $('#id_paid').val(),
                    'due': $('#id_due').val(),
                    'change': $('#id_change').val(),
                    'saleProducts': rows,
                    'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val() },
                dataType: 'json',
                // handle a successful response
                success : function(json) {
                    console.log(json); // log the returned json to the console
                    alert("Sale completed!!");
                    window.location.href = "{% url 'salelist' %}";

                },
        
                // handle a non-successful response
                error : function(xhr,errmsg,err,res) {
                    console.log(res); // provide a bit more info about the error to the console
                }
            });
        } 
        $("#sale_form").get(0).reportValidity(); // Submit the form
    });


</script>
{% endblock %}