{% extends 'core/base/base.html' %}


{% block title %}Stock List{% endblock %}


{% block site_css %}{% endblock %}


{% block body %}

    <section class="py-4 px-4">
		<div class="row">
			<div class="container col-sm-10">
                <div class="pb-2 d-flex justify-content-center align-items-center border-bottom border-secondary border-2">
					<h3 class="m-0 mx-2 d-inline">Stock List</h3>
                    <span class="bg-secondary ms-3 me-2 py-1" style="width: 3px;height: 35px;"></span>
                    <div class="mt-1 ms-3">
                        <a class="btn btn-primary" href="{% url 'createpurchase' %}">New Purchase</a>
                    </div>
				</div>

                {% if messages %}
                    {% for message in messages %}
						{% if message.tags == "success" %}
							<div class="alert alert-success p-2 mx-3 mt-3 mb-1"><b>{{ message }}</b></div>
						{% else %}
							<div class="alert alert-danger p-2 mx-3 mt-3 mb-1"><b>{{ message }}</b></div>
						{% endif %}
                    {% endfor %}
                {% endif %}
				
                <div class="mt-4">
                    <table class="table table-sm table-bordered table-hover align-middle text-center">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">User</th>
                                <th scope="col">Product</th>
                                <th scope="col">Purchase</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">MRP</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Entry date</th>
                                <th scope="col">Manufacturing date</th>
                                <th scope="col">Expiration date</th>
                                <th scope="col" class="text-center">Action</th>
                              </tr>
                        </thead>
                        <tbody>
                          {% for data in dataset %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{data.user}}</td>
                                <td>{{data.product}}</td>
                                <td>
                                    {% if data.purchase != None %}
                                        <a class="" target="_blank" href="{% url 'editpurchase' data.purchase_id %}">{{data.purchase}}</a>
                                    {% endif %}
                                </td>
                                <td>{{data.quantity}}</td>
                                <td>{{data.mrp}}</td>
                                <td>{{data.discount}}</td>
                                <td>{{data.entryDate}}</td>
                                <td>{{data.manufacturingDate}}</td>
                                <td>{{data.expirationDate}}</td>
								<td class="text-center">
									<a class="btn btn-sm btn-info" href="{% url 'editstock' data.id %}">Edit</a>
									{% comment %} <form method="POST" class="d-inline" onsubmit="return confirm('Are you sure you want to delete the record?');" action="{% url 'deletepurchase' %}">
										{%csrf_token%}
										<input type="decimal" value="{{data.id}}" name="id" style="display:none;"/>
										<button class="btn btn-sm btn-danger" type="submit" >Delete</button>
									</form> {% endcomment %}
								</td>	
                            </tr>
                          {% endfor %}

                        </tbody>
                    </table>
                </div>

                <div class="">
                    <div class="col-md-12 text-left pt-2">
                        <a class="btn btn-success btn-sm" href="/home/">Back To Home</a>
                    </div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}

{% block site_js %}
<script>

</script>
{% endblock %}